{{ define "main" }}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
  {{- $featured := $featured.Fill "1200x900" -}}

  <article class="single grid wrapper">
    <header class="mast grid sub-grid">
      <h1 class="mast__title{{ with $featured }} mast__title--with-thumb{{end}}">{{ .Title }}</h1>
      {{ with $featured -}}
        <figure class="mast__thumb">
          <img src="{{ $featured.Permalink }}" class="mast__thumb_img"/>
        </figure>
      {{- end -}}
    </header>
    {{.Content}}
  </article>
{{ end }}
