{{ define "main" }}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
  {{- $featured := $featured.Fill "1200x900" -}}

  <header class="mast mast--section grid">
    <h1 class="mast__title{{ with $featured }} mast__title--with-section-thumb mast__title--with-thumb{{end}}">{{ .Title }}</h1>
    {{ with $featured -}}
      <figure class="mast__thumb mast__thumb--section">
        <img src="{{ $featured.Permalink }}" class="mast__thumb_img"/>
      </figure>
    {{- end -}}
    {{ .Content }}
  </header>

  {{ with .Site.GetPage "story/board" }}
    <div class="board-members grid">
      <h2 class="board__heading">{{ .Title | title }}</h2>
      {{.Content}}
      <div class="cards">
        {{ partial "board-members" . }}
      </div>
    </div>
  {{ end }}
{{ end }}
