{{ define "main" }}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
  {{- $featured := $featured.Fill "1200x900" -}}

  <article class="single grid wrapper">
    <header class="mast grid sub-grid">
      <h1 class="mast__title{{ with $featured }} mast__title--with-thumb{{end}}">{{ .Title }}</h1>
      {{ with $featured -}}
        <figure class="mast__thumb">
          <img src="{{ $featured.Permalink }}" class="mast__thumb_img"/>
        </figure>
      {{- end -}}
    </header>
    {{.Content}}

    {{ $scholarshipQuote := .Resources.GetMatch "scholarship-quote.md" }}
    {{ if $scholarshipQuote }}
      <blockquote class="blockquote blockquote--big">
        {{ $scholarshipQuote.Content }}
        <cite class="blockquote__cite">{{ $scholarshipQuote.Title }}<span class="blockquote__cite_name">{{ $scholarshipQuote.Params.title2 }}</span></cite>
      </blockquote>
    {{ end}}

    {{ if .Resources.Match "highlights/*.md" }}
      <section class="donate-highlights">
        <div class="donate-highlights--wrapper">
          {{ range $i, $e := .Resources.Match "highlights/*.md" }}
            <div class="donate-highlights-card">
              <h4 class="donate-highlights__heading">
                <a href="{{$e.Params.link}}">{{ $e.Title }}</a>
              </h4>
              {{ if .Params.statistics }}
                <dl class="highlights_list_item">
                  <div class="highlights_list__item">
                    {{ range .Params.statistics }}
                      {{ if .number }}<dd class="highlights-number__number {{if eq .type "dollar"}}highlights-number__number--dollar{{end}}">{{.number}}</dt>{{ end }}
                      {{ if .caption}}<dt>{{.caption}}</dd>{{ end }}
                    {{ end }}
                </dl>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </section>
    {{ end }}
  </article>

{{ end }}
